<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
    <h1>
        This is the home page. <%= 4 + 5 + 9 %> <%= 'THIS WAS MADE WITH EJS'.toLowerCase() + " I am so cool" %> 
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis explicabo quibusdam? Obcaecati mollitia nam, adipisci aliquid temporibus modi perspiciatis hic voluptatem repellat sed eveniet deserunt suscipit. Sunt, doloremque veritatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequuntur minus? Velit dolores necessitatibus asperiores veniam nemo similique voluptate ipsa fugit, accusamus repudiandae fuga! Illo, sed. Veritatis dignissimos quam ducimus.</p>
</body>
</html>