<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random number</title>
</head>
<body>

    <h1>Your random number is: <%= num %> </h1>
    
    <% if (num % 2 === 0) { %> 
        <h2>The number that was generated was EVEN</h2>
    <% } else  {%>   
        <h2>The number that was generated was ODD</h2>
    <% } %> 

    <p> This is a <%= num % 2 == 0 ? "Even" : "Odd" %> number. </p>
</body>
</html>